* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*:focus {
	outline: none;
}

body {
	font-family: $bodyFont;
	font-size: 16px;
	line-height: 1.3;
	font-weight: 300;

	@media (min-width: 600px) {
		font-size: 19px;
	}
	@media (min-width: $breakPoint) {
		font-size: 24px;
	}
}

::selection {
	color: #fff;
	background: $darkBlue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headerFont;
}

h1 {
	font-size: 2.2em;
	line-height: 1.3;
}
h2 {
	font-size: 2em;
	line-height: 1.3;
}
h3 {
	font-size: 1.3em;
}

.inner-container {
	// width: 90vw;
	width: 1230px;
	max-width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px;
	@media (min-width: 500px) {
		padding: 0px 30px;
	}
	@media (min-width: $breakPoint) {
		padding: 0px 30px;
	}
}

// .outer-container {
// 	width: 1440px;
// 	max-width: 100%;
// 	margin-left: auto;
// 	margin-right: auto;
// }
// Sections

.row {
	height: 100%;
	max-width: 100%;
	@media (min-width: $breakPoint) {
		display: flex;
		flex-wrap: nowrap;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		&.col-two {
			.col {
				width: 50%;
				flex: 0 0 50%;
				display: flex;
				flex-direction: column;
			}
		}
	}
}

[data-aos] {
	body[data-aos-easing="new-easing"] &,
	&[data-aos][data-aos-easing="new-easing"] {
		transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
	}
}
