.button {
	height: 56px;
	line-height: 56px;
	border-radius: 100px;
	background: #fff;
	font-weight: 300;
	color: $darkBlue;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	width: 256px;
	max-width: 100%;
	transition: all 0.3s ease-in-out;

	&:hover {
		background: #dadbe6;
	}

	&.button--dark {
		background: $darkBlue;
		color: #fff;

		&:hover {
			background: #dadbe6;
		}
	}
}
