.button {
	height: 56px;
	line-height: 56px;
	border-radius: 100px;
	background: #fff;
	font-weight: 300;
	color: $darkBlue;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	width: 256px;
	max-width: 100%;

	&.button--dark {
		background: $darkBlue;
		color: #fff;
	}
}
