section.care {
	margin-top: 60px;
	.col .content {
		text-align: center;
		margin-bottom: 30px;
	}
	@media (min-width: $breakPoint) {
		margin-top: 115px;
		.col {
			.content {
				max-width: 100%;
				width: 480px;
				text-align: left;
				margin-bottom: 0px;
			}
			.image-grid {
				width: 546px;
				max-width: 100%;
				justify-content: space-evenly;
				img {
					max-width: 100%;
				}
			}
			&:last-child {
				justify-content: flex-end;
			}
		}
	}
	h2,
	p {
		color: $darkBlue;
	}
	h2 {
		margin-top: 0px;
	}
	.button {
		margin-top: 2em;
	}
}

.image-grid {
	display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	.image {
		position: relative;
		margin-bottom: 25px;
		img {
			border-radius: 10px;
		}
		.text {
			position: absolute;
			bottom: 1em;
			left: 1em;
			color: #fff;
			font-size: 16px;
			margin: 0px;
		}
	}
}
