header {
	width: 100%;
	background-image: url("images/bg-header.png");
	background-size: cover;
	backgrond-repeat: no-repeat;
	background-position: bottom center;
	padding-top: 3em;
	height: 500px;
	@media (min-width: $breakPoint) {
		height: 80vh;
	}
	.inner-container {
		position: relative;
	}

	.logo {
		width: 220px;
		max-width: 100%;
	}
	.navigation {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
			li {
				display: inline-block;
				margin-right: 1em;
				font-size: 1em;
				&:last-child {
					margin-right: 0px;
				}
				a {
					text-decoration: none;
					color: white;
				}
			}
		}
	}
	.content {
		color: #fff;
		margin-top: 2em;
		text-align: center;
		.button {
			margin-top: 2em;
		}
		@media (min-width: $breakPoint) {
			float: right;
			width: 440px;
			text-align: left;
		}
	}
	.smallprint {
		p {
			position: absolute;
			bottom: 10px;
			color: #fff;
			font-weight: 400;
			font-size: 16px;
			left: 15px;
			text-align: center;
		}
	}
}
