section.tailored {
	width: 100%;
	margin-top: 60px;
	background: #f7eceb;
	color: $darkBlue;
	// font-size: 20px;

	.col.image-container {
		background-size: cover;
		backgrond-repeat: no-repeat;
		background-position: center;
		background-position: bottom center;
		height: 500px;
	}
	.col.text {
		padding: 60px 30px;
		text-align: center;
	}
	.button {
		margin-top: 2em;
	}
	h2 {
		margin-top: 0px;
	}

	@media (min-width: $breakPoint) {
		margin-top: 115px;
		height: 70vh;
		min-height: 750px;
		font-size: 18px;
		.col {
			height: 100%;
		}
		.col.image-container {
			height: 100%;
		}
		.col.text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0px;
			text-align: left;
			padding-left: 2em;
			padding-right: 2em;
			.content {
				max-width: 100%;
				width: 400px;
			}
		}
	}
	@media (min-width: 1100px) {
		.col.text {
			padding-left: 6em;
			font-size: 24px;
		}
	}
}
